@import '../../styles/variables';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


//Variables
//-------------------------------------------
$primary-font: 'Lato', sans-serif;

$primary-color: #9F01B0;
$secondary-color: #ffffff;
$accent-color: #55ccc9;
$dark-color: #000000;
$light-color: #ffffff;


.whatsappButton {
  background-color: $primary-color;
  color: $light-color;
  font-family: $primary-font;
  padding: 0.75rem 1.5rem;
  border-radius: 10%;
  
  //border: none;
  cursor: pointer;
  display: inline-block; // Cambiado de inline-flex a inline-block
  text-align: center; // Asegura que el texto esté centrado
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}
