@import '../../styles/variables.scss';

.container {
    padding: 20px;
  }
  
  .serviceItem {
    cursor: pointer;
    margin-bottom: 15px; // Espacio entre ítems de servicio
    padding: 10px; // Espaciado interno para cada ítem de servicio
    background-color: #f8f9fa; // Un ligero fondo para cada ítem de servicio
    border-radius: 5px; // Bordes redondeados para suavizar la apariencia
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  
    &:hover {
      background-color: #e2e6ea; // Cambio de color al pasar el mouse
      transform: translateY(-2px); // Efecto de elevación al pasar el mouse
    }
  }
  
  .serviceName {
    font-size: 1.25rem; // Tamaño de fuente para el nombre del servicio
    color: #495057; // Color de texto
    text-align: center; // Centrar el título del servicio
  }

  .modalHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .serviceImageContainer {
    position: relative;
    width: 100%;
    height: 200px; // Altura fija para la imagen del servicio en el modal
    margin-bottom: 30px; // Espacio entre la imagen y el título del modal
  
    // Ajustes para asegurar que la imagen se muestre correctamente
    img {
      border-radius: 5px; // Bordes redondeados para la imagen
    }
  }
  
  // Estilos adicionales para el modal
  .modal-title {
    font-weight: bold; // Título del modal más destacado
    margin-left: 20px; // Espacio entre la imagen y el título del modal
  }

  .whatsappModalBody {
    a {
      max-width: 250px;
      margin: 20px auto;
      display: block;
      text-align: center;
    }
  }
  
  .modal-body {
    font-size: 1rem; // Tamaño de fuente para el cuerpo del modal
    color: #6c757d; // Color de texto para el cuerpo del modal
    a.whatsappButton {
      max-width: 250px; // Limita el ancho del botón
      margin: 20px auto; // Centra el botón horizontalmente y añade margen vertical
      display: block; // Hace que el enlace se comporte como un bloque
      text-align: center; // Asegura que el texto dentro del botón esté centrado
    }
  }
  