@import "../../styles/variables.scss";

.gallery {
  .thumbnail {
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // .imageDescription {
    //   color: $light-color;
    //   text-align: center;
    // }

    // .modalDescription {
    //   color: $secondary-color;
    //   text-align: center;
    // }

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 5%;
      border: 1px solid $light-color;
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.1);
        transition: transform 0.5s;
        opacity: 0.8;
      }
    }
  }
}
